    .navbar a, .dropdown div{
                text-decoration:none;
                color:white;
                font-size:24px;
                padding:16px;
                display:inline-block;
            }
            .navbar{
                list-style:none;
                background-color:black;
                overflow:hidden;
                padding:0px;
            }
            .navbar li{
                float:left;
            }
            body{
                background-color:#cff5c9;
            }
            .navbar li:hover{
                background-color:pink;
                padding:0px;
            }
            .dropdown-content{
                list-style:none;
                padding:0;
                display:none;
                position:absolute;
                background-color:black;
                z-index:1;
                text-align:center;
            }
            .dropdown-content li{
                float:none;
            }
            .dropdown:hover .dropdown-content{
                display:block;
            }
            .header{
                text-align:center;
                font-size:45;
            }
            .active{
                background-color:pink

            }
            hr {
                border: 1px solid black;
            }
            .cargol-content-one{
                list-style:none;
                display:none;
                background-color:white;
                padding:3px;
            }
            .cargol-content-one li{
                border:1px;
            }
            .cargol:hover .cargol-content-one{
            display:block;
            border:1px;
            }
            .me{
                background-color:white;
                padding:10px;
                font-size:20px;
                color:black;
                width:200px;
                border-style:solid;
                border-width:1px;
            }
            img{
                height:270px;
                display: block;
                margin-left: auto;
                margin-right: auto
            }

            .yet{
                margin-left:auto;
                margin-right:auto;
            }
            .mine{
                width:250;
                float:right;
                transform:rotate(270deg);
            }
            .cargol-content-two{
                list-style:none;
                display:none;
                background-color:white;
                padding:3px;
            }
            .cargol-content-two li{
                border:1px;
            }
            .cargol-un:hover .cargol-content-two{
            display:block;
            border:1px;
            }
            .tea{
                background-color:white;
                padding:10px;
                font-size:20px;
                color:black;
                width:200px;
                border-style:solid;
                border-width:1px;
            }
            .rot{
                transform:rotate(90deg);
            }
            .rote{
                transform:rotate(180deg);
            }
            .roten{
                transform:rotate(270deg);
                height:250px;
            }
            .tre{
                height:375px;
                width:200pc;
            }
            .cargol-content-three{
                list-style:none;
                display:none;
                background-color:white;
                padding:3px;
            }
            .cargol-content-three li{
                border:1px;
            }
            .conclu:hover .cargol-content-three{
            display:block;
            border:1px;
            }
            .lee{
                background-color:white;
                padding:10px;
                font-size:20px;
                color:black;
                width:200px;
                border-style:solid;
                border-width:1px;
            }
            .res{
                text-align:center;
            }
            .rez{
            }
            .whit{
                background-color:white;
                padding:5px;
            }
            .rez{
                text-align:left;
            }
            .peter{
                text-decoration:none;
                background-color:white;
                text-align:center;
                color:white;
            }
            .contel{
                color:black;
                text-align:center;
                padding-left:5px;
                padding-right:5px;
            }
            .solic{
                text-align:center;
            }
            .pete{
            text-decoration: none;
            color:white;
            }

            a:visited {
            text-decoration: none;
            }

            a:hover {
            text-decoration: underline;
            }

            a:active {
            text-decoration: underline;
            }
            .blank{
                list-style:none;

            }
            .blank:hover .blank{
                background-color:black;
            }
            .final{
                text-align:left;
            }