    .navbar a, .dropdown div{
                text-decoration:none;
                color:white;
                font-size:24px;
                padding:16px;
                display:inline-block;
            }
            .navbar{
                list-style:none;
                background-color:black;
                overflow:hidden;
                padding:0px;
            }
            .navbar li{
                float:left;
            }
            body{
                background-color:#cff5c9;
            }
            .navbar li:hover{
                background-color:pink;
                padding:0px;
            }
            .dropdown-content{
                list-style:none;
                padding:0;
                display:none;
                position:absolute;
                background-color:black;
                z-index:1;
                text-align:center;
            }
            .dropdown-content li{
                float:none;
            }
            .dropdown:hover .dropdown-content{
                display:block;
            }
            .header{
                text-align:center;
                font-size:45;
            }
            .active{
                background-color:pink
                
            }
            hr {
                border: 1px solid black;
            }
            .cargol-content-one{
                list-style:none;
                display:none;
                background-color:white;
            }
            .cargol-content-one li{
                border:1px;
            }
            .cargol:hover .cargol-content-one{
            display:block;
            border:1px;
            }
            .cargol:hover{
            }
            .me{
                background-color:white;
                padding:10px;
                font-size:20px;
                color:black;
                width:110px;
                border-style:solid;
            }
            